<!doctype html>
<html lang="zh">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>系统设置</title>

<script type="text/javascript" src="../js/tools/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" />
<script type="text/javascript" src="../js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript"
	src="../js/bootstrap/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="../css/bootstrap/bootstrap-multiselect.css"
	type="text/css" />
<script type="text/javascript" src="../js/index/setting.js"></script>
</head>
<body style="overflow: hidden;">
	<h3></h3>
	<button class="btn btn-primary" id="command1">
		更新库存
	</button>
	<button class="btn btn-primary" id="command2">
		机器自检
	</button>
	<button class="btn btn-primary" id="command3">
		清洗机器
	</button>
	<button class="btn btn-primary" id="command4">
		重启机器
	</button>
</body>
</html>